body{
	border: 1px solid blue;
	/*indica la letras que se muestra en nuestra pagina se pone para que el ususario no puede cambiar el tamaño de la pagina
	16 es el estandar */
	font-size: 16px;
	/*centrar la caja donde esta el marco azul */
	margin: 0 auto;
	max-width: 1024px;
}
/*no es etiqueta por eso se pone entre llaves*/
header nav form{
	/*mover a la derecha solo se usa cuando esta dentro de una caja en este momento es el nav*/
	float: right;
/* moverlo hacia arriva */
	margin-top: -40px;
	margin-right: 20px;


}
header nav form input {
	border-radius: 5px;
}
/*solo los input de tipo boton debe de ir asi pegado */
header nav form input[type="button"]{
	background: green;
	border: 1px solid green;
	color: white;

}

header{
	background: #B3D8EB;

}

/*la barra azul es el nav*/
header nav{
	background: #0E6CB0;
	padding: 2px 0px;
    border-radius: 5px;
    margin: 0 auto;
	width: 99%;

}
/*elementos del menu asi estan ocupamos un display inlune-block para acomodarlos*/

header nav ul li {
	/*cambiar color de letra */
	color: white;
	/*separar las letras con el margin a la derecha*/
	margin-right: 30px;
	display: inline-block;

}

#seccion01 {
	margin-top: 15px;
}
#seccion01 article {
	text-align: center;
}

#seccion01 article img {
	border: 5px solid rgba(150,150,150,0.5);
	width: 98%;
}
#seccion02 article {
	display: inline-block;
	vertical-align: top;
	width: 32.8%;
}
#seccion02 article input[type="submit"]{
	background: white;
	border-radius: 5px;
	color: blue;
	margin-left: 130px;
}
/*poner el logo html5 arribita */
#logo {
	margin-top: -150px;
}
.unaSeccion {
	font-size: 4.5em;
	font-weight: bold;
}
.otraSeccion{
	font-size: 2.5em;
}
.otraSeccion,.unaSeciion {
	font-weight: bold;
}
